.extreme {
	animation: um 0.5s infinite;
}

.navzone {
	animation: movement 1s infinite;
}

h3 {
	font-size: 40px;
}

a {
	border: 30px solid;
}

li {
	padding: 10px;
}

p {
	animation: yay 3s infinite;
}

@keyframes yay {
	from {color: green;}
	to {color: purple;}
}

@keyframes um {
	from {background-color: red;}
	to {background-color: yellow;}
}

@keyframes movement {
	from {text-align: left;}
	to {text-align: right;}
}


